<h1>Appointments#show</h1>
<p>Find me in app/views/appointments/show.html.erb</p>

Doctor: <%= link_to @doctor.name, doctor_path(@doctor) %>
<br> 
Patient: <%= link_to @patient.name, patient_path(@patient) %>
